<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">

    <title></title>

    <script type="text/javascript">

function getBrowserWidth ( ) {
    if ( window.innerWidth ) { return window.innerWidth; }
    else if ( document.documentElement && document.documentElement.clientWidth != 0 ) { return document.documentElement.clientWidth; }
    else if ( document.body ) { return document.body.clientWidth; }
    return 0;
}

function getBrowserHeight ( ) {
    if ( window.innerHeight ) { return window.innerHeight; }
    else if ( document.documentElement && document.documentElement.clientHeight != 0 ) { return document.documentElement.clientHeight; }
    else if ( document.body ) { return document.body.clientHeight; }
    return 0;
}

var INF = -9999
var startX = INF;
var startY = INF;

function touchStart(event) {
  event.preventDefault();
  var area = document.getElementById('touch-area');
  area.innerText = 'x=' + event.touches[0].pageX
                 + 'y=' + event.touches[0].pageY;
  startX = event.touches[0].pageX
  startY = event.touches[0].pageY
};

function touchMove(event) {
  event.preventDefault();
  var area = document.getElementById('touch-area');
  area.innerText = 'x=' + event.touches[0].pageX
                 + 'y=' + event.touches[0].pageY;
  if (startX != INF) {
    dx = event.touches[0].pageX - startX
    dy = event.touches[0].pageY - startY
    sendPoint(100 * dx / getBrowserWidth(),
              100 * dy / getBrowserHeight())
    startX = event.touches[0].pageX
    startY = event.touches[0].pageY
  }
};

function touchEnd(event) {
  event.preventDefault();
  var area = document.getElementById('touch-area');
  area.innerText = 'x=' + event.touches[0].pageX
                 + 'y=' + event.touches[0].pageY;
  startX = INF
  startY = INF
};

function preventScroll(event) {
  event.preventDefault();
}

document.addEventListener("touchstart", touchStart, false);
document.addEventListener("touchmove", touchMove, false);
document.addEventListener("touchend", touchEnd, false);

    </script>

    <script type="text/javascript">

var ws = new WebSocket("ws://{{ wshost }}:8000/move");

ws.onmessage = function(e) {

};

function sendPoint(x, y) {
  ws.send(x + ',' + y);
};

    </script>

    <style type="text/css">
      html        { margin: 0px; padding: 0px; }
      body        { margin: 0px; padding: 0px; }
      #touch-area { width: 100%; height: 100%; background-color: #888; }
    </style>

  </head>
  <body>
    <div id='touch-area'></div>
  </body>
</html>
